@import url('<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.landing{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: #42B883;
}

.landing div{
    text-align: center;
    border: 2px solid #fff;
    padding: 2.5rem;
    border-radius: 20px 0 ;
    color: #fff;
}
.landing div h1{
    font-size: calc( 1.5rem + 20px);
    font-weight: 500;
    margin-bottom: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

.landing div p{
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1.5rem;
}

.btn{
    padding: 5px 20px;
    color: #42B883;
    background-color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
}
.btn:hover{
   opacity: .7;
}

.morph{
    font-size: 2rem;
    font-weight: 600;
}

@media (max-width: 360px){
    .landing div{
        text-align: center;
        border: 2px solid #fff;
        padding: 1rem;
        border-radius: 20px 0 ;
        color: #fff;
        width: 80%;
    }
}

@media (max-width: 410px){
    .landing div{
        text-align: center;
        border: 2px solid #fff;
        padding: 1rem;
        border-radius: 20px 0 ;
        color: #fff;
        width: 80%;
    }
}